<%= form_for @message, url: profile_new_profile_message_path(@profile_id) do |f| %>
To: <%= f.collection_select :to_user_id, User.all, :id , :email %>
<br/>

Message: <%= f.text_area :body %>

<div class="ui primary submit icon button">
	<%= f.submit %>
</div>
<% end %>