<%= render 'layouts/navbar'%>
<div class="ui container segments">
  <div class="ui sixteen wide centered grid">

    <div class="ui twelve wide column">

      <%= render 'list' %>
    </div>

  </div>
  <%= link_to 'New Message', new_profile_message_path %>
</div>
