<div class="ui form">
		<%= simple_form_for @tweet do |f| %>
			<div class="field">
				<%= f.label :body %>
				<%= f.text_area :body, as: :text %>
			</div>

		<%= f.submit :TWEET, class: "ui primary submit icon button" %>


		<% end %>

</div>

