<%# render 'tweetsnapshot' %>
<div class="ui container">
  <div class="ui sixteen wide grid">
    <div class="ui twelve wide centered column">
      <div id="retweetbox">
        <div class="ui form segment">
          <div style="display: flex; justify-content: flex-end;">
            <a href="#" id="closeretweet"><i class="remove icon"></i></a>
          </div>
          <h3>Retweeting..</h3>
            <%= render partial: 'tweetspreview', locals: { tweet: Tweet.find(params[:id]) } %>

            <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
