<div class="ui container" id="loginbackground">
  <div class="ui centered grid">
    <div class="four wide column">
      <h1 class="ui header" id="maintitle">Twitclone<div class="sub header">by Nathan&Gerald</div></h1><br />

    </div>
    <div class="four wide column">
      <div class="ui segment">
        <center>
          <%= link_to 'Login', new_user_session_path, :class=>"fluid ui primary submit button"%><br />
          <%= link_to 'Signup', new_user_registration_path, :class=>"fluid ui primary submit button"%>
        </center>
      </div>
    </div>
  </div>
</div>
