<%= render 'layouts/navbar' %>
<div class="ui container">
  <div class="ui form segment">
    <div style="display: flex; justify-content: flex-end;">
      <a href="#" id="closeretweet"><i class="remove icon"></i></a>
    </div>

    <% if @tweet.errors.any? %>
      <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
          Please fix the following errors!
        </div>
        <ul class="list">
          <% @tweet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h3>New Tweet</h3>
      <%= render 'form' %>
  </div>
</div>
