<div class="ui segments">
  <div class="ui selection list">
    <% @tweets.each do |tweet| %>
      <div class="item">
       <%= image_tag(tweet.user.avatar.thumb.url, :class => 'ui medium circular image' )%>
        <div class="content">
          <div class="header">
            <!-- Later replace with the name!!! -->
            <%= tweet.user.email %>
            <%# tweet.user.username %>
          </div>
          <div class="description">
            <%= tweet.body %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
