<div class="ui segments">
  Relationship Count: <%= @relationship.count %>
  <div class="ui selection list">
    <% @relationship.each do |user| %>
      <div class="item">
        <img class="ui mini avatar image" src="https://forumac.nathanshq.com/uploads/user/12/thumb_nequesapientedeleniti.png"></img>
        <div class="content">
          <div class="header">
            <li><%= link_to user.email, profile_path(user.id) %>
          </div>
        </div>
      </div>
    <% end %>
    </li>

    <%= link_to 'Back to Index', profile_path + "/" + @user.id.to_s %>
  </li>
</div>
