<%= render 'layouts/navbar'%>
  <div class="ui container">
    <div class="ui sixteen wide centered grid">
      <div class="ui twelve wide column">

        <%= render 'profile_header' %>
        <%= render 'relationship' %>
      </div>
    </div>
  </div>
