<div class="ui six statistics">
	<div class="statistic"></div>
	<div class="statistic">
		<div class="value">
			Gerald
		</div>
		<div class="label">user</div>
	</div>
	<div class="statistic">
		<div class="value">
			22
		</div>
		<div class="label">
			Tweets
		</div>
	</div>
	<div class="statistic">
		<div class="text value">
			Three<br>
			Thousand
		</div>
		<div class="label">
			Friends
		</div>
	</div>
	<div class="statistic">
		<div class="value">
			42
		</div>
		<div class="label">
			Followers
		</div>
	</div>
	<div class="statistic"></div>
</div>
