<div class="ui six statistics">
	<div class="statistic"></div>
	<div class="statistic">
		<div class="value">
			<%= current_user.first_name %>
		</div>
		<div class="label">user</div>
	</div>
	<div class="statistic">
		<div class="value">
			<%= current_user.tweets.count %>
		</div>
		<div class="label">
			Tweets
		</div>
	</div>
	<div class="statistic">
		<div class="value">
			<%= current_user.following.count %>
		</div>
		<div class="label">
			Following
		</div>
	</div>
	<div class="statistic">
		<div class="value">
			<%= current_user.followers.count %>
		</div>
		<div class="label">
			Followers
		</div>
	</div>
	<div class="statistic"></div>
</div>
